@import 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;900&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --white: #f5f5f5;
  --gray-50: #c5c8ce;
  --gray-100: #c9c9c9;
  --gray-200: #7e7e7e;
  --gray-700: #383838;
  --gray-900: #292929;


  --blue-light: #9DD9D2;
  --blue: #4FCFC0; 
  --orange-light: #FFC286;
  --orange: #FF8811; 
  --purple-light: #D7BDE8;
  --purple: #A566D6;

  --max-container: 1240px;
}

@media (max-width: 1080px) {
  html {
    font-size: .93rem;
  }
}

@media (max-width: 720px) {
  html {
    font-size: .87rem;
  }
}

body {
  background-color: var(--white);
  color: var(--gray-900);
  font-family: 'Work Sans';
}

body, input, textarea, select, button {
  font: 400 1rem;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.baseButton {
  text-transform: uppercase;
  background-color: var(--purple-light);
  border: 2px solid #000000;
  box-shadow: 5px 3px 0 1px #0000008f;
  padding: .8rem 1.2rem;
  border-radius: 20px;
  font-weight: 900;
  transition: background-color 200ms;

  &:hover {
    background-color: var(--purple);
    color: var(--white);
  }

  &:active {
    translate: 5px 3px;
    box-shadow: none;
  }
}