.container {
  display: block;
  padding-top: 2.5rem;
}

.containerHeader {
  padding: 5rem 2rem;
  margin: 0 auto;
  max-width: var(--max-container);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  img {
    width: 100%;
    max-width: 600px;
  }

  .content {
    max-width: 600px;

    h1 {
      font-size: 3.5rem;
      line-height: 1.3em;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    span {
      color: var(--blue);
    }

    button {
      margin-top: 2rem;
    }
  }
}

.divisor {
  width: 100%;
  height: 1px;
  background-color: var(--gray-100);
}

.sectionContent {
  margin: 6rem auto;
  padding: 0 2rem;
  max-width: var(--max-container);
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    h2 {
      text-align: center;
      font-size: 2.8rem;

      span {
        color: var(--blue);
        font-weight: 900;
      }
    }

    button {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.nextLevelContent {
  max-width: var(--max-container);
  margin: 6rem auto;
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  .imagee {
    width: 100%;
    max-width: 300px;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 1.3em;
    margin-bottom: 1rem;

    span {
      font-weight: 800;
      color: var(--blue);
    }
  }

  span {
    line-height: 1.6em;
  }

  button {
    margin-top: 2rem;
  }
}

@media (max-width: 1020px) {
  .containerHeader {
    button {
      display: block;
    }

    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 950px) {
  .containerHeader {
    flex-direction: column;
    gap: 4rem;

    button {
      width: 100%;
    }
  }

  .sectionContent {
    flex-direction: column;
    padding: 0 50px;

    .cards {
      flex-direction: column;
    }
  }
}
