.headerContainer {
  box-shadow: 0 0 30px #41414183;
}

.headerContent {
  max-width: var(--max-container);
  padding: 2.5rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  nav {
    display: flex;
    text-align: center;
    gap: 1rem;

    span {
      display: flex;
      align-items: center;
      transition: all 200ms;

      &:hover {
        color: var(--gray-200);
      }

      &.active {
        color: var(--blue);
        font-weight: bold;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 720px) {
  .headerContent {
    flex-direction: column;
    gap: 1.5rem;

    a[type="button"] {
      padding: .5rem .8rem;
      font-size: .9rem;
    }
  }
}
